{% extends "home/index.html" %} {% load staticfiles %} {% block page_title %} Error {% endblock %} {% block content %}
<h2>Error</h2>
<hr class="white_line">
<h3>{{error}}</h3>
<br>
<a href="/" class="btn btn-primary btn-lg">Go Back</a>
{% endblock %}