{% extends "home/index.html" %} {% load staticfiles %} {% block page_title %} Home {% endblock %} {% block content %}
<form method="post" action="/home/ping">
    {% csrf_token %}
    <h1>Pinger</h1>
    <div class="form-group">
        <input class="form-control" name="url" id="focusedInput" autofocus type="text">
    </div>
    <p>
        <input type="submit" class="btn btn-primary btn-lg" value="start">
    </p>
</form>
{% endblock %}