{% extends 'base/plain.html' %} {% load staticfiles %} {% block page_title %} Home {% endblock %} {% block body %}

<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Pinger</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="col-md-12" style="margin-top:50px;">
        <div class="jumbotron">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
