{% extends "home/index.html" %} {% load staticfiles %} {% block page_title %} Home {% endblock %} {% block content %}
<h2>Ping Result</h2>
<hr class="white_line">
<h3>IP Address : {{ip_address}}</h3>
<h3>Site Status : {{status}}</h3>
<br>
<a href="/" class="btn btn-primary btn-lg">Go Back</a>
{% endblock %}