<html>
	<head>
	<title>
		{% block page_title %}
		{% endblock %}
	</title>
		{% block css_imports %}
		{% endblock %}
		{% block js_imports_top %}
		{% endblock %}
	</head>

	<body>

		{% block body%}
		{% endblock %}

		{% block js_imports %}
		{% endblock %}
	
	</body>
</html>
