{% extends 'base/base.html' %}
{% load staticfiles %}

{% block css_imports %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet"> 
<link href="{% static "css/main.css" %}" rel="stylesheet"> 
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
{% endblock %}

{% block js_imports %}
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>  
{% endblock %}

